.bakeries {
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;

  .bakery {
    max-width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10% 5% 10% 5%;
  }

  .bakery__img {
    max-width: 100%;
    padding-bottom: 0.5em;
  }

  .bakery-deliverytime {
    position: absolute;
    bottom: 65px;
    right: 10px;
    padding: 0.5em;
    border-radius: 20px;
    background-color: #996a23;
    color: white;
    font-size: 1em;
    font-weight: 700px;
  }

  .bakery-infos {
    //position: relative;
    display: flex;
    justify-content: space-between;
  }

  .bakery-name {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
  }

  .bakery-deliverycost {
    font-size: small;
    text-align: left;
  }

  .rating {
    //position: absolute;
    text-align: left;
    top: 100%;
  }

  .like {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .column {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;

    .bakery-name {
      font-size: 18px;
    }

    .like {
      position: absolute;
      bottom: 0.8em;
      right: 5px;
    }
  }
}

@media screen and (min-width: 900px) {
  .column {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;

    .bakery-name {
      font-size: 15px;
    }

    .like {
      position: absolute;
      bottom: 0.8em;
      right: 5px;
    }
  }
}

@media screen and (min-device-width: 600px) {
  .column {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-between;

    .bakery-name {
      font-size: 15px;
    }

    .like {
      position: absolute;
      bottom: 0.8em;
      right: 5px;
    }
  }
}
