.page-bakery {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.bakerylist {
  width: 100%;
  height: 100%;
  display: flex;  
  flex-direction: column;
}

.wrapper-city {
  display: flex;
  align-items: center;
  padding: 10px;
}

.wrapper-bakerylist-tags {
  display: flex;
}

.wrapper-button {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.adress-button {
  background-color: #d3b07b;
  padding: 13px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  border: none;

  .icon-location {
    width: 20px;
    height: 20px;
  }

  span {
    margin: 0 5px;
  }

  &:hover {
    color: white;
    background-color: #996a23;
    cursor: pointer;
  }
}

.title-bakerylist {
  text-align: left;
  padding: 10px 40px;
  font-size: 1.4em;
  font-weight: 600;
  font-family: Gravity;
  width: 85%;
}

.tags {
  /* padding-top: 10px; */
}

.tag {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin: 5% 5% 0% 5%;
}

.title-tags {
  font-size: 1.2em;
}

.tag_label {
  padding: 0.5em;
  border-radius: 20px;
  background-color: #d3b07b;
}

.tag_label:hover {
  background-color: #996a23;
  color: white;
  cursor: pointer;
}

.bakeries {
  width: 100%;
  height: 100%;
  //float: right;
  
.bakery {
    max-width: 100%;
    height: 80%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5% 10% 5%;
  }

  .bakery__img {
    max-width: 100%;
    height: 80%;
    padding-bottom: 0.5em;
  }

  .bakery-deliverytime {
    position: absolute;
    bottom: 25%;
    right: 10px;
    padding: 0.5em;
    border-radius: 20px;
    background-color: #996a23;
    color: white;
    font-size: 1em;
    font-weight: 700px;
  }

  .bakery-infos {
    //position: relative;
    display: flex;
    justify-content: space-between;
  }

  .bakery-name {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
  }

  .bakery-deliverycost {
    font-size: small;
    text-align: left;
    margin-top: 3px;
  }

  .rating {
    //position: absolute;
    text-align: left;
    top: 100%;
    margin-top: 3px;
  }

  .like {
    justify-content: space-between;
  }

  .label {
    justify-content: space-between;
  }
}
.no-bakery{
  padding: 10em;
}

.bakery-notfound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 1.2em;
      font-weight: 600;
      margin-top: 30px;
    }
    .btn-change-city {
      background-color: #d3b07b;
      padding: 13px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      border: none;
      margin-top: 30px;

      &:hover {
        color: white;
        background-color: #996a23;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  .tags {
    float: left;
    width: 20%;
    height: 100%;
  }

  .tag {
    font-size: 15px;
    display: inline-block;
  }

  .tag_label {
    margin: 10px;
  }

  .column {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;

    .bakery-name {
      font-size: 18px;
    }

    .like {
      position: absolute;
      bottom: 0.8em;
      right: 5px;
    }
  }
}

@media screen and (min-width: 900px) {
  .column {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;

    .bakery-name {
      font-size: 15px;
    }

    .like {
      position: absolute;
      bottom: 0.8em;
      right: 5px;
    }
  }
}

@media screen and (min-device-width: 600px) {
  .column {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-between;

    .bakery-name {
      font-size: 15px;
    }

    .like {
      position: absolute;
      bottom: 0.8em;
      right: 5px;
    }
  }
}
