@use 'src/styles/vars.scss';


.log {
  background-image: url('./images/background1.jpg');
  background-size: cover;background-position: center ;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper-login {
    background-color: #8f6f4adc;
    width: 80%;
    height: 80%;
  }
}
