@use 'src/styles/vars.scss';


.log {
  background-image: url('./images/background1.jpg');
  background-size: cover;background-position: center ;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .input-form {
    
  }

  .wrapper-signup {
    background-color: #8f6f4adc;
    width: 80%;
    height: 80%;

    .signup {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
}
