.Basket-btnPayer:hover{
  background-color: #4b3223bd;
  color: aliceblue;
  }

@media (min-width: 60px) and (max-width: 1024px) {
.Basket-Basket{
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .page-basket-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  .title-basket-empty {
    font-size: 1.5em;
    font-weight: 600;
    font-family: Gravity;
  }
  .img-basket {
    width: 300px;
    height: 300px;
  }
  .basket-empty-to-home {
    background-color: #d3b07b;
      padding: 13px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      border: none;
      margin-top: 30px;

      &:hover {
        color: white;
        background-color: #996a23;
        cursor: pointer;
      }
    }
  }
}

.Basket-product{
  display: flex;
  align-items: center;
  justify-content: space-between;

  
  .Basket-individual-product-total-price{
    padding-top: 1em;
  }
  
  .Basket-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Basket-imgProduit{
    padding: 1em;
    border-radius: 40px;
    object-fit: cover;    
    height: 180px;
    width: 180px;
  }

  .Basket-quantity{
    padding: 0.5em 0.3em 0.5em 0.3em;
    margin-right: 0.2em;
    height: 20%;
    font-weight: 600;
    font-size: 30px; 

    .math{
      display: flex;
      .plus{
        padding: 0.3em;
        height: 40px;
        width: 40px;
      }
      .less{
        padding: 0.3em;
        height: 40px;
        width: 40px;
      }
    }
  }
}
.Basket-trait{
  border-bottom: 1px rgb(0, 0, 0) solid;
  padding-bottom: 1em;
  padding-left: 10%;

  .Basket-ligne{

    display: flex;
    padding: 0.6em;
    font-size: 18px;
    width: 80%;
    justify-content: space-between;

  }
  
    .Basket-productName{
      margin-left: 10px;
      margin-right: 80px;
    }
    
}
  .Basket-paye{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    justify-content: space-around;

    .Basket-totalPrice{
      font-size: 23px;
      padding-top: 0.5em;
    }
    .Basket-btnPayer{
      background-color: #865439;
      padding: 0.7em 1em;
      margin-bottom: 2em;
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Basket-Basket{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    .page-basket-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      height: 100%;
    .title-basket-empty {
      font-size: 1.5em;
      font-weight: 600;
      font-family: Gravity;
    }
    .img-basket {
      width: 300px;
      height: 300px;
    }
    .basket-empty-to-home {
      background-color: #d3b07b;
        padding: 13px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        border: none;
        margin-top: 30px;

        &:hover {
          color: white;
          background-color: #996a23;
          cursor: pointer;
        }
    }
  }

    .oui{
      width: 55%;

    
    .Basket-products{
      display: flex;
      float: right;
      flex-wrap: wrap;
      margin-top: 3em;
      padding:  2em 0em 0em 2em;
      width: 100%;
      border-right: 1px solid black;

      .Basket-product{
        width: 260px;
        height: 350px;
        //flex-direction: column;
        //justify-content: center;

        .Basket-individual-product-total-price{
          display: none;
        }
      }

      .Basket-quantity{
        padding: 1em;
        font-weight: 600;
        font-size: 20px;  

        .math{
          display: flex;
          justify-content: center;
          .plus{
            margin: 0em 0.5em;
            padding: 0.1em;
            height: 30px;
            width: 30px;
          }
          .less{
            margin: 0em 0.5em;
            padding: 0.1em;
            height: 30px;
            width: 30px;
          }
        }
      }
      
      .Basket-imgProduit{
        padding: 1em;
        border-radius: 40px;
        object-fit: cover;    
        height: 180px;
        width: 180px;
      }
    }
  }

  .Basket-PriceListe{
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 62%;
    margin-top: 8em;

    .Basket-ligne{
      display: flex;
      justify-content: flex-start;
      padding: 0.6em;
      font-size: 18px;
      text-align:left;

      .Basket-productPrice{
        position: absolute;
        margin-left: 100%;
      }
      .Basket-productName{
        margin-right: 100px;
      }
    }

    .Basket-paye{
      display: flex;

      .Basket-btnPayer{
        background-color: #865439;
        padding: 1em 2em;
        margin-bottom: 2em;
        margin-top: 1em;
      }

      .Basket-totalPrice{
        position: absolute;
        margin-left: 100%;
        font-size: 23px;
        padding-top: 1.5em;
      }
    }

  }
  }
}
