.left-side, .right-side {
  width: 50vh;
  height: 50vh;
}

.left-side {

  .bakery_img {
    float: left;
  }
}


@media screen and (min-width: 600px) {
  .bakery {
    width: 100%;
    display: grid;
    justify-content: space-between;
  }

  .bakery_infos {
    float: right;
  }
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .all-products {
    text-transform: uppercase;
    font-weight: bold;
    margin: 5% 0px;
  }

  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn-to-basket {
    background-color: #865439;
    font-style: white;
    padding: 1em 2em;
  }
}
