.bakery-part {
  width: 100%;

  .bakery_img {
    width: 50%;
    float: left;
  }

  .bakery_name {
    float: right;
  }

  @media screen and (min-width: 600px) {
    .bakery {
      display: grid;
      justify-content: space-between;
    }

    .bakery_infos {
      float: right;
    }
  }
}

.products {
  height: 100%;
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .all-products {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10% 0px;
  }

  .products-list {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn-to-basket {
    background-color: #865439;
    font-style: white;
    padding: 1em 2em;
  }
}



  
  
  