@use 'src/styles/vars.scss';


.contact {
  height: 100%;
  width: 100%;
  background-color: #c88a5b73;

  .contact-ameliorer{
    padding: 2em;
    .p{
      padding-bottom: 2em;
    }
  }
  .contact-problemes{
    padding: 2em;
    .p{
      padding-bottom: 2em;
    }
  }
}

@media screen and (max-width: 700px) {


  .contact-ameliorer{
    padding: 2em;
    .p{
      padding-bottom: 1em;
    }
    textarea{
      width: 80%;
    }
  
  }
  .contact-problemes{
    padding: 2em;
    .p{
      padding-bottom: 1em;
    }
    textarea{
      width: 80%;
    }
  }

}






