.product {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;

  .product_img {}

  .product-info {
    padding: 15px;

    .product_name {
      font-weight: bolder;
    }

    .product_price {}

    .math {
      display: flex;
      justify-content: center;

      .plus {
        margin: 0em 0.5em;
        padding: 0.1em;
        height: 30px;
        width: 30px;
      }

      .less {
        margin: 0em 0.5em;
        padding: 0.1em;
        height: 30px;
        width: 30px;
      }
    }

    .product-quantity {
      padding: 0.1em;
      padding-left: 0em;
      font-weight: 600;
      font-size: 20px;
    }

  }
  .add-to-basket {
    width: 100%;
    padding: 0.5em;
    background-color: #996a23;
    color: white;
    border-radius: 20px;
    margin-bottom: 50em;
  }
}