.product {
    width: 40%;
    height: 15em;
    text-align: center;
    margin: 1em;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    .product_img {
        padding: 1em;
        height: 200px;
    }
    .product-info {

        .product_name {
            
        }
    }
}

